<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
	<!--  - Application context definition  -->
<beans>
	<bean id="customerManager" parent="abstractTxDefinition">
		<property name="target">
			<bean class="kr.co.kmac.pms.customer.manager.impl.CustomerManagerImpl">
				<property name="customerDao" ref="customerDao" />
			</bean>
		</property>
	</bean>
	<bean id="customerDao" class="kr.co.kmac.pms.customer.dao.impl.CustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
