<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- expertPool beans-->
	<bean id="orgdbManager" parent="abstractTxDefinition">
		<property name="target">
			<bean class="kr.co.kmac.pms.orgdb.manager.impl.OrgdbManagerImpl">
				<property name="orgdbDao" ref="orgdbDao" />
			</bean>
		</property>
	</bean>

	<!-- dao -->
	<bean id="orgdbDao" class="kr.co.kmac.pms.orgdb.dao.impl.OrgdbDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
